html {
    font-family: Verdana, sans-serif;
}
body {
    background-color: #333;
    color: #fff;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}

#tag-input {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    padding: 25px;
    position: absolute;
    font-size: 11pt;
    width: 150px;
    z-index: 2;
}

#tag-input label {
    display: block;

}

#tag-input input {
    border: 1px solid #ccc;
    color: #888;
    display: block;
    margin: 5px 0px;
    outline: 0px;
    padding: 3px;
    width: 124px;
}

.hotspot {
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
}

.hotspot:hover, .hotspothover {
    border: 4px solid #fff;
    box-shadow: 0px 0px 40px #fff;
    -webkit-box-shadow: 0px 0px 40px #fff;
    -moz-box-shadow: 0px 0px 40px #fff;
    z-index: 1;
}

.hotspot span { 
    display: none; 
}

.hotspot:hover span, .hotspothover span {
    color: #000;
    display: block;
    background: transparent;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

.remove { 
    color: #748950; 
    cursor: pointer; 
    text-decoration: underline; 
}

#container {
    width: 100%;
    height: 500px;
    background-color: #222;
    border: 1px solid #444;
    color: #fff;   /* text color for messages */
}
#output {
    width: 500px;
    border: none;
    margin: 1em 0em;
}
#output td {
    width: 50%;
}
#output .outputLabel {
    font-weight: bold;
}
.overlay {
    border: 1px solid white;
    border-radius: 5px;
    background: #000;
    opacity: 0.5;
}
.overlay:hover {
    background: #fff;
    opacity: 0.65;
}

a, a:visited, a:active {
    color: #fff;
}

a.simple, a.simple:visited, a.simple:active {
    color: #fff;
    background: #000;
    padding: 10px;
    text-decoration: none;
}

a.simple:hover {
    background: #222;
}

i.note {
    color: #eee;
    font-size: 11pt;
    float: right;
}