body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
/* Simple page reset */
margin:0;
padding:0;
}

html {
font-family: Verdana, sans-serif;
}

body {
    background-color: #333;
    color: #fff;
}

#container {
    width: 100%;
    height: 500px;
    background-color: #222;
    border: 1px solid #444;
    color: #fff;   /* text color for messages */
	overflow:hidden;
	cursor:url(../../photoShoot/photoShoot/blank.cur),default;
	position:relative;
}

#container.googleChrome{
	cursor: url(../../photoShoot/photoShoot/blank_google_chrome.cur),default;
}

#output {
    width: 500px;
    border: none;
    margin: 1em 0em;
}

#output td {
    width: 50%;
}

#output .outputLabel {
    font-weight: bold;
}

.overlay {
    border: 1px solid white;
}
